*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.gradle
.idea

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/test/java/tk/a3labgo/bangladate/ExampleUnitTest.kt
banglaDate/consumer-rules.pro
banglaDate/proguard-rules.pro
app/src/main/res/mipmap-hdpi/ic_launcher_round.png
app/src/main/res/mipmap-hdpi/ic_launcher.png
app/src/main/res/mipmap-mdpi/ic_launcher_round.png
app/src/main/res/mipmap-mdpi/ic_launcher.png
app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
app/src/main/res/mipmap-xhdpi/ic_launcher.png
app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
app/src/main/res/mipmap-xxhdpi/ic_launcher.png
app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
banglaDate/src/main/res/values/strings.xml
banglaDate/src/test/java/tk/a3labgo/bangladate/ExampleUnitTest.kt
app/proguard-rules.pro
app/src/androidTest/java/tk/a3labgo/bangladate/ExampleInstrumentedTest.kt
app/src/main/AndroidManifest.xml
app/src/main/java/tk/a3labgo/bangladate/MainActivity.kt
app/src/main/res/drawable/ic_launcher_background.xml
app/src/main/res/drawable-v24/ic_launcher_foreground.xml
app/src/main/res/layout/activity_main.xml
app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
app/src/main/res/values/colors.xml
app/src/main/res/values/strings.xml
app/src/main/res/values/styles.xml
banglaDate/src/androidTest/java/tk/a3labgo/bangladate/ExampleInstrumentedTest.kt
